@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
:root {
  --main-orange: #E9AB3C;
  --main-green: #0F770F;
  --main-blue: #08659b;
  --cream: rgb(250, 235, 208);
  --emblem-blue: #b4ddff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu";
}

.projects__card__link-orange, .projects__card__link-green, .projects__card__link-blue, .header__social__link, .header__nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.contact__backToTopBtn, .projects__card__link-orange, .projects__card__link-green, .projects__card__link-blue {
  padding: 0.3rem 0.6rem;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: all 0.1s linear;
  cursor: pointer;
  outline: none;
}

.header__li {
  list-style: none;
}

.contact__h2, .about__h2, .skills__h2, .projects__h2 {
  font-size: 4rem;
  text-align: center;
  font-family: "Patua One", cursive;
}

.case-study__container, .header__container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .contact__h2, .about__h2, .skills__h2, .projects__h2 {
    font-size: 3.2rem;
  }
}
.particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(0.25turn, #08659b, #ebf8e1, #f69d3c);
}

.header {
  z-index: 5;
  background-color: rgba(15, 119, 15, 0.6);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__h3 {
  font-size: 2.2rem;
  color: white;
  background: linear-gradient(135deg, #a1d5ff 0%, #ffffff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.header__nav__link {
  border: 2px solid transparent;
  transition: color 0.1s linear;
}
.header__socials__ul {
  display: flex;
}
.header__fa {
  font-size: 2.2rem;
  transition: color 0.1s linear;
}
.header__fa:hover {
  color: var(--main-blue);
}
.header__nav__link:hover {
  color: var(--main-orange);
}

@media (max-width: 1180px) {
  .header__container {
    width: 90%;
  }
}
@media (max-width: 760px) {
  .header__container {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .header__container {
    width: 90%;
  }
  .header__li {
    margin-bottom: 1.2rem;
  }
}
.hero {
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 7.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__h1 {
  font-family: "Roboto";
  font-size: 4rem;
  margin: 4.5rem 2rem 2rem;
  color: var(--main-blue);
  text-align: center;
}
.hero__para {
  margin-bottom: 2rem;
  color: var(--main-blue);
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
}
.hero__down {
  color: var(--main-green);
  font-size: 4.2rem;
  transition: all 0.1s linear;
  cursor: pointer;
}
.hero__down:hover {
  transform: translateY(6px);
}

@media (max-width: 1100px) {
  .hero__container {
    width: 75%;
    padding-bottom: 3rem;
  }
  .hero__h1 {
    margin-top: 3rem;
  }
}
@media (max-width: 900px) {
  .hero__container {
    width: 80%;
  }
  .hero__down {
    font-size: 3.7rem;
  }
  .hero__h1 {
    margin-top: 2.5rem;
  }
}
@media (max-width: 850px) {
  .hero__container {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .hero {
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .hero__container {
    width: 90%;
  }
  .hero__h1 {
    margin: 2.5rem auto 0.5rem;
    font-size: 2.6rem;
  }
  .hero__para {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .hero__down {
    font-size: 3.2rem;
  }
}
.projects {
  background-color: var(--main-blue);
  padding: 1rem 0 2.5rem;
}
.projects__h2 {
  color: var(--cream);
  margin-bottom: 1.7rem;
}
.projects__container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}
.projects__card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 15px 5px 27px #188acc, -15px -15px 27px var(--main-blue);
}
.projects__card__img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 300px;
  object-fit: contain;
  background-color: #dddddd;
  margin-bottom: 0.6rem;
}
.projects__card__h2 {
  font-size: 2rem;
  font-family: "Patua One", cursive;
  color: var(--main-blue);
  margin-bottom: 0.4rem;
}
.projects__card__date {
  color: var(--main-blue);
  margin-bottom: 0.6rem;
}
.projects__card__h3 {
  color: var(--main-green);
  font-style: italic;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0.6rem;
}
.projects__card__text {
  padding: 0 0.7rem;
  font-size: 1rem;
  color: var(--main-green);
  margin-bottom: 0.7rem;
}
.projects__card__links {
  margin: 0 auto 0.7rem;
  display: flex;
}
.projects__card__links * {
  margin: 0 0.4rem;
}
.projects__card__link-blue {
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
}
.projects__card__link-blue:hover {
  background-color: var(--main-blue);
  color: white;
}
.projects__card__link-green {
  border: 2px solid var(--main-green);
  color: var(--main-green);
}
.projects__card__link-green:hover {
  background-color: var(--main-green);
  color: white;
}
.projects__card__link-orange {
  font-family: "Ubuntu";
  background-color: transparent;
  border: 2px solid var(--main-orange);
  color: var(--main-orange);
}
.projects__card__link-orange:hover {
  background-color: var(--main-orange);
  color: white;
}

@media (max-width: 1100px) {
  .projects__card:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 760px) {
  .projects__card {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .projects__h2 {
    margin-bottom: 1.2rem;
  }
  .projects__container {
    width: 100%;
  }
}
.skills {
  background-color: var(--cream);
  color: var(--main-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__h2 {
  color: var(--main-green);
  margin-top: 1.2rem;
}
.skills__container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 3rem;
}
.skills__h3 {
  font-family: "Patua One", cursive;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--main-green);
}
.skills__col {
  border-style: solid;
  border-image: linear-gradient(transparent, var(--main-green), transparent) 1;
  border-width: 2px;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  padding: 1.5rem 3rem;
}
.skills__col:last-child {
  border-right: 0;
}
.skills__para {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

@media (max-width: 1200px) {
  .skills__container {
    width: 90%;
  }
}
@media (max-width: 1070px) {
  .skills__container {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .skills__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .skills__h2 {
    margin-bottom: 0.8rem;
  }
  .skills__h3 {
    margin-bottom: 0.7rem;
  }
  .skills__col {
    border: none;
    padding: 0.3rem 2rem;
  }
  .skills__col:last-child {
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  .skills__para {
    font-size: 1.4rem;
  }
}
.about {
  background-color: var(--main-blue);
  padding: 1rem 0 0.8rem;
}
.about__h2 {
  color: var(--cream);
}
.about__container {
  width: 70%;
  margin: 1rem auto;
  display: flex;
}
.about__img {
  margin-right: 3rem;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
.about__paras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about__para {
  margin-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
  text-indent: 1rem;
}

@media (max-width: 1070px) {
  .about__img {
    display: none;
  }
  .about__para {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .about__container {
    width: 80%;
  }
  .about__para {
    font-size: 1.1rem;
  }
}
.contact {
  background-color: var(--main-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem;
}
.contact__h2 {
  color: var(--cream);
  margin-bottom: 0.9rem;
}
.contact__info {
  text-align: center;
  color: var(--cream);
  font-size: 1.2rem;
}
.contact__info > * {
  margin-bottom: 1rem;
}
.contact__info > p > a {
  text-decoration: none;
  color: var(--cream);
  transition: color 0.1s linear;
}
.contact__info > p > a:hover {
  color: var(--main-orange);
}
.contact__backToTopBtn {
  background: none;
  border: 2px solid var(--cream);
  color: var(--cream);
  margin-top: 1rem;
}
.contact__backToTopBtn:hover {
  border-color: var(--main-orange);
  color: var(--main-orange);
}
.contact__copyright {
  color: var(--main-orange);
  text-align: center;
  margin-top: 2rem;
}

.case-study__h1 {
  color: var(--main-blue);
  font-size: 2.8rem;
  text-align: center;
  font-family: "Ubuntu";
  margin-bottom: 0.7rem;
}
.case-study__h2 {
  color: var(--main-green);
  font-size: 1.8rem;
  text-align: center;
  font-family: "Ubuntu";
  margin-bottom: 0.7rem;
}
.case-study__para {
  font-size: 1rem;
  text-indent: 2rem;
  font-family: "Ubuntu";
  margin-bottom: 0.7rem;
}

@media (max-width: 600px) {
  .case-study__container {
    width: 90%;
  }
  .case-study__h1 {
    font-size: 2.3rem;
  }
}

/*# sourceMappingURL=index.css.map */
