.header {
    z-index: 5;
    background-color: rgba(15, 119, 15, 0.6);

    &__container {
        @extend %container;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__h3 {
        font-size: 2.2rem;
        color: white;
        background: linear-gradient(135deg, #a1d5ff 0%,#ffffff 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    &__li {
        @extend %li;
    }

    &__nav__link {
        @extend %a;
        border: 2px solid transparent;
        transition: color .1s linear;

        &:hover {
            color: var(--main-orange)
        }
    }

    &__socials__ul {
        display: flex;
    }

    &__social__link {
        @extend %a;
    }

    &__fa {
        font-size: 2.2rem;
        transition: color .1s linear;

        &:hover {
            color: var(--main-blue)
        }
    }
}

  @media (max-width: 1180px) {
    .header {
        &__container {
            width: 90%;
        }
    }
    }
  
  @media (max-width: 760px) {
    .header {
        &__container {
            width: 80%;
        }
    }
  }

  // mobile view
  @media (max-width: 600px) {
    .header {
        &__container {
            width: 90%;
        }

        &__li {
            margin-bottom: 1.2rem;
        }
    }
}