.projects {
    background-color: var(--main-blue);
    padding: 1rem 0 2.5rem;

    &__h2 {
        @extend %heading;
        color: var(--cream);
        margin-bottom: 1.7rem;
    }

    &__container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2rem;
        text-align: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 10px;
        box-shadow:  15px 5px 27px #188acc, -15px -15px 27px var(--main-blue);
    }

    &__card__img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 300px;
        object-fit: contain;
        background-color: rgb(221, 221, 221);
        margin-bottom: 0.6rem;
    }

    &__card__h2 {
        font-size: 2rem;
        font-family: 'Patua One', cursive;
        color: var(--main-blue);
        margin-bottom: 0.4rem;
    }

    &__card__date {
        color: var(--main-blue);
        margin-bottom: 0.6rem;
    }

    &__card__h3 {
        color: var(--main-blue);
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0.7rem;
        border-bottom: 1px solid var(--main-green);
        font-style: italic;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 0.6rem;
    }

    &__card__text {
        padding: 0 0.7rem;
        font-size: 1rem;
        color: var(--main-green);
        margin-bottom: 0.8rem;
    }

    &__card__links {
        margin: 0 auto 0.7rem;
        display: flex;
    }

    &__card__links * {
        margin: 0 0.4rem;
    }

    &__card__link-blue {
        @extend %a;
        @extend %button;
        border: 2px solid var(--main-blue);
        color: var(--main-blue);
    }

    &__card__link-blue:hover {
        background-color: var(--main-blue);
        color: white;
    }

    &__card__link-green {
        @extend %a;
        @extend %button;
        border: 2px solid var(--main-green);
        color: var(--main-green);
    }

    &__card__link-green:hover {
        background-color: var(--main-green);
        color: white;
    }

    &__card__link-orange {
        @extend %a;
        @extend %button;
        font-family: 'Ubuntu';
        background-color: transparent;
        border: 2px solid var(--main-orange);
        color: var(--main-orange);
    }

    &__card__link-orange:hover {
        background-color: var(--main-orange);
        color: white;
    }
}

@media (max-width: 1100px) {
    .projects {
        &__card:last-child {
            margin-bottom: 0;
        }
    }
  }

  @media (max-width: 760px) {
    .projects {
        &__card {
            width: 90%;
            margin: 0 auto;
        }
    }
}

  // mobile view
  @media (max-width: 600px) {
    .projects {
        &__h2 {
            margin-bottom: 1.2rem;
        }

        &__container {
            width: 100%;
        }
    }
}