.skills {
    background-color: var(--cream);
    color: var(--main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__h2 {
        @extend %heading;
        color: var(--main-green);
        margin-top: 1.2rem;
    }

    &__container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__h3 {
        font-family: 'Patua One', cursive;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: var(--main-green);
    }

    &__col {
        border-style: solid;
        border-image: linear-gradient(transparent, var(--main-green), transparent) 1;
        border-width: 2px;
        border-bottom: 0;
        border-top: 0;
        border-left: 0;
        padding: 1.5rem 3rem;
    }

    &__col:last-child {
        border-right: 0;
    }

    &__para {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
    }
}

  @media (max-width: 1200px) {
      .skills {
          &__container {
              width: 90%;
          }
      }

  }

  @media (max-width: 1070px) {
      .skills {
          &__container {
              width: 100%;
          }
      }
  }

  @media (max-width: 760px) {
      .skills {
          &__container {
            flex-direction: column;
            align-items: center;
            margin-bottom: 1.5rem;
          }

          &__h2 {
              margin-bottom: 0.8rem;
          }

          &__h3 {
              margin-bottom: 0.7rem;
          }

          &__col {
              border: none;
              padding: 0.3rem 2rem;
          }

          &__col:last-child {
            padding-bottom: 0;
          }
      }
  }

  @media (max-width: 600px) {
      .skills {
          &__para {
            font-size: 1.4rem;
          }
      }
  }